body {
    background-color: white;
}

table {
    margin-top: 20px;
}

.calendar-table {
    width: 80%;
    table-layout: fixed;
    background-color: aliceblue !important; 
}

.calendar-table th, 
.calendar-table td {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.selected {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}
